<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script type="text/html" id='usageList'>
    <ul>
      <% _.each(files, function(f) { %>
        <li>
            <strong><%- f.name %></strong> 
            (<%= f.type || 'n/a' %>) 
            - <%= f.size %> bytes,
            last modified: 
              <%= f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a' %>
        </li>
        <% }); %>
    </ul>
  </script>
</head>
<body>
  
<input type="file" id="files" name="files[]" multiple />
<output id="list"></output>

<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    var template = _.template(usageList.innerHTML);
    document.getElementById('list').innerHTML = template({ files : files});
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>
</body>
</html>
